* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
	background-color: #292929;
}

a{
  text-decoration: none;
  color: #FFD700;
}

/* chargement */
.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.intro-text {
  color: #FFE3E3;
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}
.hide {
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
}

/*  Navigation*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  padding-right: 3rem;
}
nav.sticky{
  position: fixed;
  align-items: center;
  justify-content: space-between;
  margin-top: -150px;
  width: 100%;
  padding-right: 3rem;
  z-index: 100;
  background-color: #292929;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding-left: 5rem;
  font-size: 1.4rem;
  color: #FFD700;
  background-color: transparent;
}
#logo {
  font-family: "MS Serif";
  font-weight: lighter;
  font-size: 2rem;
  color: #FFD700;
  background-color: transparent;
  padding-left: 3rem;
}

/*Hover nav*/
nav ul li a span {
  position: absolute;
  width: 35%;
  height: 100%;
  transition: 0.5s ease;
  z-index: -1;
}

nav ul li a:hover {
  color: #ebe3d5;
  transform: scale(1.02);
}

/*Première photo avec la librairie JS -> three.js*/
.wrapper {
  margin-top: 7%;
  margin-left: 5%;
  width: 950px;
	height: 530px;
}

/*Texte à droite de la photo */
.Text-presentation {
  position: absolute;
  right: 80px;
  top: 250px;
  font-size: 100px;
  text-align: right;
  color: #FFE3E3;
  letter-spacing: 0.1em;
  padding: auto;
}

/*Div Des 3 containers*/
.container {
  top: 290px;
  position: relative;
  background: none;
  overflow: hidden;
  margin: 20px 20px;
}
.container ul {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.container li {
  display: inline;
  width: 90%;
  height: 390px;
  background: none;
  margin: 10px;
}

/*Div Menu left*/
.photo-menu img {
  height: 390px;
  width: 602px;
  opacity: 90%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.container .overlay-content{
  width: 602px;
  height: 390px;
  background: black;
  color: #ebe3d5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 90%;
  overflow: hidden;
  margin-left: 10px;
  position: absolute;
  transition: 0.8s;
  top: 10px;
  left: -100%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.photo-menu:hover .overlay-content{
  left: 0;
}
.photo-menu .overlay-content p{
  background: none;
  color: #FFE3E3;
  text-align: center;
  font-size: 85px;
  letter-spacing: 3px;
}

/*Div Voce Middle*/
#slider {
  margin: 0 auto;
  width: 602px;
  max-width: 100%;
  margin-top: -10px;
  text-align: center;
}
#slider input[type=radio] {
  display: none;
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  height: 390px;
  position: relative;
}
#overflow {
  width: 100%;
  overflow: hidden;
  height: 390px;
}
   #slide1:checked ~ #slides .inner {
      margin-left: 0;
   }
   #slide2:checked ~ #slides .inner {
      margin-left: -100%;
   }
   #slide3:checked ~ #slides .inner {
      margin-left: -200%;
   }
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 390px;
  background-color: transparent;
}
#slides .slide {
  float:left;
  height: 100%;
  background-color: transparent;

}
#slides .slide-content{
  background-color: transparent;
}
#slides .slide h1{
  color: rgb(175, 108, 108);
  margin-top: -35px;
  margin-left: -10px;
  font-size: 60px;
  letter-spacing: 3px;
}
#slides .slide p{
  color: black;
  font-weight: bolder;
  position: relative;
  top: 155px;
  text-align: center;
  margin-right: 20px;
  font-size: 30px;
  letter-spacing: 1.5px;
}
#slides .slide h5{
  color: black;
  font-weight: bolder;
  font-style: oblique 80deg;
  margin-left: 350px;
  margin-top: 200px;
  font-size: 20px;
  letter-spacing: 3px;
}
#slides .slide_1 {
  background: #ebe3d5;
  width: 602px;
  height: 390px;
  margin-left: 0px;
  margin-top: 0px;
}
#slides .slide_2 {
  background: #ebe3d5;
  width: 602px;
  height: 390px;
  margin-left: -20px;
  margin-top: 0px;
}
#slides .slide_3 {
  background: #ebe3d5;
  width: 602px;
  height: 390px;
  margin-left: -20px;
  margin-top: 0px;
}
#controls {
  margin: -200px 0 0 0;
  width: 75%;
  height: 50px;
  margin-left: 65px;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 25px;
  height: 25px;
  opacity: .7;
}
#controls label:hover {
  opacity: 1;
}
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(1){
      background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
      float:right;
      margin: 0 -50px 0 0;
      display: block;
   }
   #slide1:checked ~ #controls label:nth-last-child(3),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(1){
      background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
      float:left;
      margin: 0 0 0 -50px;
      display: block;
   }
#bullets {
  margin: 120px 0 0;
  text-align: center;
  z-index: 100;
}
#bullets label {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: rgb(255, 255, 255);
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: rgb(0, 0, 0);
}
   @media screen and (max-width: 900px) {
      #slide1:checked ~ #controls label:nth-child(2),
      #slide2:checked ~ #controls label:nth-child(3),
      #slide3:checked ~ #controls label:nth-child(4),
      #slide4:checked ~ #controls label:nth-child(1),
      #slide1:checked ~ #controls label:nth-last-child(2),
      #slide2:checked ~ #controls label:nth-last-child(3),
      #slide3:checked ~ #controls label:nth-last-child(4),
      #slide4:checked ~ #controls label:nth-last-child(1) {
         margin: 0;
      }
      #slides {
         max-width: calc(100% - 140px);
         margin: 0 auto;
      }
   }

/*Div Shop Right*/
.container .photo-shop{
  height: 390px;
  width: 602px;
  background:#ebe3d5;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.photo-shop img {
  background: transparent;
  height: 300px;
  width: 300px;
  margin-left: 150px;
  margin-top: 50px;
}
.container .overlay-shop{
  height: 390px;
  width: 602px;
  background: black;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 90%;
  overflow: hidden;
  margin-right: 10px;
  position: absolute;
  transition: 0.8s;
  top: 10px;
  right: -90%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.photo-shop:hover .overlay-shop{
  right: 0;
}
.photo-shop .overlay-shop p{
  background: none;
  color: #FFE3E3;
  text-align: center;
  margin-left: -390px;
  font-size: 25px;
  letter-spacing: 3px;
}
.photo-shop .overlay-shop h1{
  background: none;
  color: #FFE3E3;
  margin-top: -250px;
  margin-left: 230px;
  font-size: 55px;
  letter-spacing: 3px;
}

/* Scuadra */
.Second-part img{
  top: 1515px;
  left: 450px;
  position: absolute;
  height: 500px;
  width: 950px;
  transition: 0.5s ease;
  z-index: 10;
}
.Second-part img:hover{
  transform: scale(1.02);
}
.Second-part .box{
  height: 500px;
  width: 950px;
  background: black;
  justify-content: center;
  align-items: center;
  margin-left: 430px;
  margin-top: 400px;
  z-index: 1;
}
.Second-part .bx{
  height: 500px;
  width: 950px;
  background: #fff0f0;
  justify-content: center;
  align-items: center;
  margin-left: 470px;
  margin-top: -465px;
  z-index: 1;
}
.Second-part p{
  font-size: 90px;
  color: #fff0f0;
  position: relative;
  background: none;
  margin-left: 600px;
  margin-top: -500px;
  z-index: 10;

}

/*TOMATE + CHOU + CIRCLE SUR SCUADRA*/
.photo-artichaut2{
  position: absolute;
  left: 250px;
  top: 1450px;
  opacity: 30%;
}

.photo-chou{
  position: absolute;
  left: 130px;
  top: 2000px;
  opacity: 25%;
}
.photo-chou img{
  height: 150px;
  width: 150px;
}

.photo-tomate{
  position: absolute;
  left: 1550px;
  top: 1500px;
  opacity: 15%;
}
.photo-tomate img{
  height: 170px;
  width: 170px;
}

.photo-nave{
  position: absolute;
  left: 1300px;
  top: 1900px;
  opacity: 30%;
}
.photo-nave img { 
  height: 200px;
  width: 200px;
  background-color: transparent;
}

/*ARTICHAUT + CIRCLE SUR WRAPP*/

.photo-artichaut{
  position: absolute;
  left: 55px;
  top: 2350px;
  opacity: 50%;
  background-color: #ebe3d5;
}
.photo-artichaut img{ 
  height: 150px;
  width: 200px;
  background-color: #ebe3d5;
}

.photo-artichaut3{
  position: absolute;
  left: 1600px;
  top: 2450px;
  opacity: 50%;
  background-color: #ebe3d5;
}
.photo-artichaut3 img{ 
  background-color: #ebe3d5;
  height: 150px;
  width: 150px;
}
/*Slider*/
.colorbox{
  margin-top: 100px;
  width: 100%;
  height: 700px;
  background-color: #ebe3d5;
  z-index: 10;
}

section{
  width: 1800px;
  background-color: transparent;
}

.slide {
  margin-top: 600px;
  margin-left: 350px;
  padding-top: 100px;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: transparent;
}
.wrapp {
  display: block;
  background-color: transparent;
}
.wrapp a {
  background-color: transparent;
}
.wrapp img {
  height: 250px;
  width: 404px;
  background-color: transparent;
}

/*Google Map*/
iframe{
  position: relative;
  top: 150px;
  align-items: center;
  margin-bottom: 400px;
}

/*Footer*/
.footer{
  width: 100%;
  height: 400px;
  background: #292929;
  color: #ebe3d5;
  position: relative;
}
.footer .footer-content {
  height: 350px;
  display: flex;
  margin-left: 50px;
}

.footer-section a{
  color: white;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
}

.footer .footer-section h1 span{
  color: #FFD700;
}

.footer .footer-section h1{
  color: #FFD700;
}

.footer .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  transition: all .3s;
}

.footer .footer-content .contact-form .contact-input {
  background: #383838;
  color: black;
  margin-bottom: -67px;
  line-height: 1rem;
  padding: .9rem 1.4rem;
  border: none;
}

.footer .footer-bottom{
  background: #1e2225;
  color: #FFD700;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 10px;
}

/* Portrait Granf desktop */
@media (min-width: 1470px) and (max-width: 1600px) {

.first-photo img{
  height: 35%;
  width: 45%;
  margin-left: 5%;
}

.Text-presentation{
  font-size: 80px;
  right: 40px;
}
.Second-part img{
  width: 60%;
  height: 70%;
  top: 700px;
  align-content: center;
}
}

/* Portrait tablet to landscape and desktop écran de mon mac */
@media (min-width: 1200px) and (max-width: 1468px) {

/*NAV*/

nav.sticky{
  margin-top: -100px;
  z-index: 100;
  background-color: #292929;
}

/* Premier container image plus texte à droite */

.wrapper {
  margin-top: 7%;
  margin-left: 5%;
  width: 850px;
	height: 500px;
}

.Text-presentation{
  font-size: 65px;
  right: 85px;
  top: 300px;
}

/*Div General 3 overlay*/
.photo-menu img {
  height: 290px;
  width: 442px;
  opacity: 90%;
}

.container .overlay-content{
  width: 442px;
  height: 290px;  
}

.photo-menu .overlay-content p{
  font-size: 65px;
  letter-spacing: 3px;
}

/*Div Shop Middle*/
#slider {
width: 442px;
}

#overflow {
  width: 100%;
  overflow: hidden;
  height: 290px;
}
#slides{
  height: 290px;
}
#slides .slide h1{
  color: rgb(175, 108, 108);
  margin-top: -45px;
  margin-left: -10px;
  font-size: 50px;
  letter-spacing: 3px;
}
#slides .slide p{
  top: 120px;
  margin-right: 20px;
  font-size: 21px;
}
#slides .slide h5{
  margin-left: 300px;
  margin-top: 150px;
  font-size: 15px;
  letter-spacing: 3px;
}
#slides .slide_1 {
  background: #ebe3d5;
  width: 442px;
  height: 290px;
  margin-left: 0px;
  margin-top: 0px;
}
#slides .slide_2 {
  background: #ebe3d5;
  width: 442px;
  height: 290px;
  margin-left: -20px;
  margin-top: 0px;
}
#slides .slide_3 {
  width: 442px;
  height: 290px;
  margin-left: -20px;
  margin-top: 0px;
}

#controls {
  margin: -135px 0 0 0;
  width: 70%;
  height: 40px;
  margin-left: 65px;
}

#bullets {
  margin: 70px 0 0;
}

/*Div Shop Right*/
.container .photo-shop{
  width: 442px;
  height: 290px;
  background:#ebe3d5;
}
.photo-shop img {
  background: transparent;
  height: 250px;
  width: 250px;
  margin-left: 100px;
  margin-top: 20px;

}
.container .overlay-shop{
  width: 442px;
  height: 290px;
  top: 10px;
}

.photo-shop .overlay-shop p{
  margin-left: -270px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3px;
}

.photo-shop .overlay-shop h1{
  background: none;
  color: #FFE3E3;
  margin-top: -170px;
  margin-left: 135px;
  font-size: 45px;
  letter-spacing: 3px;
}

/* Scuadra */
.Second-part img{
  top: 1340px;
  left: 445px;
  position: absolute;
  height: 50px;
  width: 750px;
  transition: 0.5s ease;
}
.Second-part .box{
  height: 450px;
  width: 750px;
  background: black;
  justify-content: center;
  align-items: center;
  margin-left: 375px;
  margin-top: 290px;
}
.Second-part .bx{
  height: 450px;
  width: 750px;
  margin-left: 425px;
  margin-top: -415px;
}
.Second-part p{
  margin-top: -430px;
  font-size: 70px;
  margin-left: 500px;
}

/*TOMATE + CHOU + CIRCLE SUR SCUADRA*/
.photo-artichaut2{
  position: absolute;
  left: 150px;
  top: 1250px;
  opacity: 30%;
}

.photo-chou{
  position: absolute;
  left: 80px;
  top: 1850px;
  opacity: 25%;
}
.photo-chou img{
  height: 150px;
  width: 150px;
}

.photo-tomate{
  position: absolute;
  left: 1200px;
  top: 1300px;
  opacity: 5%;
}
.photo-tomate img{
  height: 150px;
  width: 150px;
}

.photo-nave{
  position: absolute;
  left: 1000px;
  top: 1700px;
  opacity: 30%;
}
.photo-nave img { 
  height: 200px;
  width: 200px;
  background-color: transparent;
}

/*ARTICHAUT + CIRCLE SUR WRAPP*/

.photo-artichaut{
  position: absolute;
  left: 55px;
  top: 2250px;
  opacity: 50%;
  background-color: #ebe3d5;
}
.photo-artichaut img{ 
  height: 150px;
  width: 200px;
  background-color: #ebe3d5;
}

.photo-artichaut3{
  position: absolute;
  left: 1200px;
  top: 2450px;
  opacity: 50%;
  background-color: #ebe3d5;
}
.photo-artichaut3 img{ 
  background-color: #ebe3d5;
  height: 150px;
  width: 150px;
}

/*Squadra*/
.Second-part img{
  width: 50%;
  height: 55%;
  top: 1500px;
  margin-left: -95px;
}

/*Slider*/
.colorbox{
  margin-top: 10px;
  width: 103.5%;
  height: 600px;
  background-color: #ebe3d5;
  z-index: 10;
}

section{
  width: 1200px;
  margin-left: -50px;
}
.slider {
  margin-top: 950px;
  margin-right: 500px;
} 

.slide{
  margin-left: 450px;
}
.wrapp img {
  height: 180px;
  width: 245px;
  }

  /*Footer - Nothing to change for the Mac Screen*/
 
}

/*Google Map*/
iframe{
  margin-left: 290px;
}

/* Landscape phone to portrait tablet */
@media (min-width: 1300px) and (max-width: 1400px) {
 
/*NAV*/
  nav.sticky{
  width: 100% ;
  }
  /* Premier container image plus texte à droite */
  .wrapper {
    margin-top: 7%;
    margin-left: 7%;
    width: 700px;
    height: 400px;
  }
  
  .Text-presentation{
    font-size: 60px;
    right: 100px;
    top: 200px;
  }

/* Sections des trois box en inline */

    /* La carta + tomate */
  .photo-menu img {
    width: 400px;
    height: 250px;
  }
  .container li{
  width: 400px;
  height: 250px;
  }
  .container .overlay-content{
    width: 400px;
    height: 250px;  
  }
  
  .photo-menu .overlay-content p{
    font-size: 60px;
    letter-spacing: 3px;
  }

    /* Slider + Voce */

  #slider {
  width: 400px;
  height: 250px;
  }
  #overflow {
    width: 100%;
    overflow: hidden;
    height: 250px;
  }
  #slides{
    height: 250px;
  }
  #slides .slide h1{
    font-size: 45px;
    letter-spacing: 3px;
  }
  #slides .slide p{
    top: 100px;
    margin-right: 23px;
    font-size: 18px;
  }
  #slides .slide h5{
    margin-left: 250px;
    margin-top: 150px;
    font-size: 15px;
    letter-spacing: 3px;
  }
  #slides .slide_1 {
    background: #ebe3d5;
    width: 400px;
    height: 250px;
    margin-left: 0px;
    margin-top: 0px;
  }
  #slides .slide_2 {
    background: #ebe3d5;
    width: 400px;
    height: 250px;
    margin-left: -20px;
    margin-top: 0px;
  }
  #slides .slide_3 {
    width: 400px;
    height: 250px;
    margin-left: -20px;
    margin-top: 0px;
  }
  
  #controls {
    margin: -135px 0 0 0;
    width: 65%;
    height: 30px;
    margin-left: 65px;
  }
  
  #bullets {
    margin: 70px 0 0;
  }

  /*Div Shop Right*/
.container .photo-shop{
  width: 400px;
  height: 250px;
}
.photo-shop img {
  height: 200px;
  width: 200px;
  margin-left: 100px;
  margin-top: 20px;
}
.container .overlay-shop{
  width: 400px;
  height: 250px;
  top: 10px;
  margin-right: 45px;
}

/* Sections Scuadra */
  .Second-part img{
    width: 55%;
    height: 65%;
    top: 1300px;
    margin-left: -95px;
  }
  .Second-part .box{
    width: 750px;
    height: 362px;
    background: black;
    justify-content: center;
    align-items: center;
    margin-left: 375px;
    margin-top: 500px;
  }
  .Second-part .bx{
    width: 750px;
    height: 362px;
    margin-left: 425px;
    margin-top: -330px;
  }
  .Second-part p{
    margin-top: -350px;
    font-size: 65px;
    margin-left: 500px;
  }
  
/*TOMATE + CHOU + CIRCLE SUR SCUADRA*/
.photo-artichaut2{
  position: absolute;
  left: 250px;
  top: 1450px;
  opacity: 30%;
}

.photo-nave{
  position: absolute;
  left: 1000px;
  top: 1300px;
  opacity: 30%;
}
.photo-nave img { 
  height: 200px;
  width: 200px;
  background-color: transparent;
}

/*Slider*/
.colorbox{
  margin-top: 100px;
  height: 700px;
  background-color: #ebe3d5;
  z-index: 10;
}

section{
  width: 100%;
  background-color: transparent;
}

.slide {
  margin-top: 600px;
  margin-left: 325px;
  padding-top: 100px;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: transparent;
}
.wrapp {
  display: block;
  background-color: transparent;
}
.wrapp a {
  background-color: transparent;
}
.wrapp img {
  height: 170px;
  width: 300px;
  background-color: transparent;
}

/*ARTICHAUT + CIRCLE SUR WRAPP*/

.photo-artichaut{
  position: absolute;
  left: 55px;
  top: 2350px;
  opacity: 50%;
  background-color: #ebe3d5;
}
.photo-artichaut img{ 
  height: 100px;
  width: 150px;
  background-color: #ebe3d5;
}

.photo-artichaut3{
  position: absolute;
  left: 1200px;
  top: 2250px;
  opacity: 50%;
  background-color: #ebe3d5;
}
.photo-artichaut3 img{ 
  background-color: #ebe3d5;
  height: 100px;
  width: 100px;
}

/*Google Map*/
iframe{
  position: relative;
  top: 150px;
  align-items: center;
  margin-bottom: 400px;
}
/*Footer*/
.footer{
  width: 100%;
  height: 400px;
  background: #292929;
  color: #ebe3d5;
  position: relative;
}
.footer .footer-content {
  height: 350px;
  display: flex;
  margin-left: 50px;
}

.footer-section a{
  color: white;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
}

.footer .footer-section h1 span{
  color: #FFD700;
}

.footer .footer-section h1{
  color: #FFD700;
}

.footer .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  transition: all .3s;
}

.footer .footer-content .contact-form .contact-input {
  background: #383838;
  color: black;
  margin-bottom: -67px;
  line-height: 1rem;
  padding: .9rem 1.4rem;
  border: none;
}

.footer .footer-bottom{
  background: #1e2225;
  color: #FFD700;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 10px;
}
}

/* Landscape phones and down */
@media (min-width: 620px) and (max-width: 1000px) {

.first-photo img{
  width: 50%;
  margin-left: 25%;
}

.Text-presentation{
  font-size: 45px;
  position: absolute;
  right: 330px;
  top: auto;
  text-align: center;
}

.Second-part img{
  width: 55%;
  height: 65%;
  top: 700px;  
  left: 230px;
}

.nav-links li {
  padding-left: 2rem;
  font-size: 18px;
}
}
@media (min-width: 320px) and (max-width: 620px) {

/*Google Map*/
iframe{
  width: 10%;
  height: 30%;
}
}